@import '../../styles/index';

.category {
  width: 90%;
  margin: 2em auto 1em auto;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  @include media(sm) {
    width: 80%;
  }
  @include media(md) {
    width: 80%;
  }
  @include media(lg) {
    width: 80%;
  }
  @include media(xlg) {
    width: 80%;
  }

  &__title {
    display: block;
    width: 100%;
    justify-content: space-between;
    @include media(md) {
      display: flex;
    }
    @include media(lg) {
      display: flex;
    }
    @include media(xlg) {
      display: flex;
    }

    .text {
      display: flex;
      align-items: center;

      label {
        font-size: 20px;
        font-weight: bold;
        margin-right: 0.5em;
        @include media(sm) {
          font-size: 22px;
        }
        @include media(md) {
          font-size: 24px;
        }
        @include media(lg) {
          font-size: 28px;
        }
        @include media(xlg) {
          font-size: 28px;
        }
      }

      img {
        width: 20px;
        height: 20px;
        @include media(sm) {
          width: 22px;
          height: 22px;
        }
        @include media(md) {
          width: 24px;
          height: 24px;
        }
        @include media(lg) {
          width: 28px;
          height: 28px;
        }
        @include media(xlg) {
          width: 28px;
          height: 28px;
        }
      }
    }
  }

  &__list {
    display: -webkit-inline-box;
    //display: flex;
    margin: 1em 0;
    width: 100%;
    margin: auto;
    overflow-x: scroll;
    padding: 2em 1em 1em 1em;
    &::-webkit-scrollbar {
      display: none;
    }
    @include media(sm) {
      padding: 2em 1em;
      width: 100%;
    }
    @include media(md) {
      padding: 2em 1em;
      width: 80%;
    }
    @include media(lg) {
      padding: 2em 1em;
      width: 50%;
    }
    @include media(xlg) {
      padding: 2em 1em;
      width: 50%;
    }
  }

  &__seeMore {
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #f8f8f8;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    top: 130px;
    cursor: pointer;
    @include media(sm) {
      top: 150px;
      display: none;
    }
    @include media(md) {
      top: 130px;
      display: flex;
    }
    @include media(lg) {
      top: 130px;
      right: 150px;
      display: flex;
    }
    @include media(xlg) {
      top: 130px;
      right: 150px;
      display: flex;
    }
    img {
      width: 15px;
    }
    &--right {
      bottom: 150px;
      left: 0;
      z-index: 1;
      @include media(lg) {
        left: 150px;
      }
      @include media(xlg) {
        left: 150px;
      }
    }
    &:hover {
      background-color: #cccccc;
    }
  }
}
