
// =============================================================================
// Size - variables
// =============================================================================

$font__size: 16 !default;
$font__base: 21 !default;

// =============================================================================
// Font family - variables
// =============================================================================

$font__family: sans-serif;

// =============================================================================
// Color variables
// =============================================================================

// $color__text: #707070;
$color__text--light: #8E8E8E;
// $color__text--dark: #000000;
// $color--gray: #707070;
$gray-e5: #E5E5E5;
$color__text--dark: #22262a; 
$color__text: #323c47; 
//$color__text--light: #2F3337;
$color__gray: #707070;
$gray-ec: #ECECEC;
$gray-f9: #f9f9f9;

$color__primary: #E1251B; 

$color__background--main: #ffffff;
$color__lightgray: #bdbdbd;
$color__inputs: #E4E4E4;
$color__inputs--disabled: #b6b6b6;
$color__tooltip: #004eff;
$color__background--footer: #000000;



// =============================================================================
// Convert pixels to ems - Function
// =============================================================================

@function em($px, $base: $font__size){
    @return($px / $base) * 1em;
}

// =============================================================================
// Import prefixes - mixin
// =============================================================================

@import '../prefixes/_prefixes';

// =============================================================================
// Import media querys - mixin
// =============================================================================

@import '../mediaquerys/_mediaquerys';